.icones {
  margin-right: 7px !important;
  font-size: 20px;
}
.c-list-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 7px;

  /*  padding: 0 16px;
  text-decoration: none;
  color: black; */
}
